.navContainer {
    display: flex;
    align-items: center;

    li {
        a {
            position: relative;

            &:focus::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 4px;
                background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
                z-index: 99;
            }
        }
    }
}

@media (width <=880px) {
    .navContainer {
        display: none;
        flex-direction: column;
        position: fixed;
        background-color: white;
        top: 5rem;
        right: 25%;
        width: 50%;
        height: 50%;

        li {
            a {
                font-size: 18px;
            }

        }
    }
}