.heroContainer {
    position: relative;
    .illustration {
        position: absolute;
        height: 60rem;
        width: 50%;
        z-index: 10;
        right: 0;
        top: -7rem;
        background-image: url('/assets/image-mockups.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 3rem -1rem;
    }
}