@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: "Rubik", serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: hsl(0, 0%, 98%);
    background-image:  url(/assets/image-mockups.png), url(/assets/bg-intro-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 50rem 0, 37rem -11rem;
}
